*{
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

body{
    background: black;  
}

section{
    padding: 2rem 7%;
}

.header{
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    text-transform: uppercase;
}

.header .logo img{
    height: 4rem;
}

.header .logo span{
    color: black;
    font-weight: 600;
    font-size: 1.8rem;
    padding-left: 10px;
}

a{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

 .nav-bar a{
    display: flex;
    margin: 0 1rem;
    font-size: 1rem;
    color: white;
}

.header .navbar a:hover{
    color: white;
    border-bottom: 1rem black;
    padding-bottom: .5rem;
}

.header .menu{
    display: flex;
    list-style: none;
}

.header .menu li{
    margin: 0 10px;
}
  
.header .menu li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}

.header .menu li a::after{
    content: "";
    height: 1px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s ease-in-out;
}

.header .menu li a:hover::after{
    width: 100%;
}

.header .open-menu, .close-menu{
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
  
.header .open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.header .close-menu{
    top: 20px;
    right: 20px;
}

#check{
    display: none;
}

.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.form-container {
    width: 500px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    height: 550px;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgb(249, 181, 54);
    padding: 1rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    display: flex;
    justify-content: center;
  }


@media (max-width:600px){
    .header .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }
    .header .menu li{
        margin-top: 40px;
    }
    
    .header .menu li a{
        padding: 10px;
    }
    
    .header .open-menu, .close-menu{
        display: block;
    }
    
    #check:checked ~ .menu{
        right: 0;
    }


    section{
        padding: 2rem;
    }

    .form-container{
        margin-top: 8%;
        width: 350px;
        height: 450px;
    }
}

@media (min-width:600px) and (max-width:768px){
    .header .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: black;
        transition: all 0.2s ease-in-out;
    }
    .header .menu li{
        margin-top: 40px;
    }
    
    .header .menu li a{
        padding: 10px;
    }
    
    .header .open-menu, .close-menu{
        display: block;
    }
    
    #check:checked ~ .menu{
        right: 0;
    }

    
    section{
        padding: 2rem;
    }

    .form-container{
        margin-top: 8%;
        width: 450px;
        height: 450px;
    }
}
  